@import url("./navbar.css");

.intro-title, .intro-text {
    color: #704B3A;
    text-shadow: 0 0 5px white;
    font-weight: bolder;
}

.intro-btn {
    color: #704B3A;
    text-shadow: 0 0 5px white;
    font-size: 1.5rem;
    text-decoration: none;
    box-shadow: 0 0 5px 2px var(--title-color);
    font-weight: normal;
    &:hover {
        color: white;
        text-shadow: 0 0 3px black ;
        background-color: #99735D;
        box-shadow: 0 0 5px 2px white;
    }
}