@import url("utils/props.css");
@import url("utils/text.css");
@import url("utils/scrollbar.css");
@import url("interface-elements/slider.css");
@import url("interface-elements/dropdown.css");
@import url("interface-elements/carousel.css");
@import url("interface-elements/mask.css");
@import url("offcanvas.css");
@import url("product-card.css");

:root{
    --text-color: #4c3404;
    --title-color: rgba(131, 68, 23, 0.85);
    --red-color: #dc3545;
    --back-color: #ffe0b2;
    --scrollbar-thumb-color: #ce8964;
    --scrollbar-track-color: white;
}

html,
body,
header,
section,
.view {
    height: 100%;
}

html {
    /* retains the size after adding paddings, otherwise everything increases */
    box-sizing: border-box;
}

*, *::before, *::after {
    /* retains the size after adding paddings */
    box-sizing: inherit;
}

body {
    background-color: #FFF8E1;
}

section {
    padding: 3rem 0;
}

img {
    max-width: 100%;
    height: auto;
}

button, .btn {
    border-radius: 0;
}