.overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vw-100 {
    width: 100vw;
}

.mw-2000 {
    max-width: 2000px;
}

.bg-center {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.bg-top {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.bg-bottom {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.bg-end {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
}