@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: "Bellota Text", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p, a, .btn {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, .card-title {
    color: var(--title-color);
}

p, a, label, input[type="text,number,tel,email,password"] {
    color: var(--text-color);
}

p, a {
    font-size: 1.25em;
}

a:not(.navbar a, #header a, a.btn) {
    color: var(--text-color);
    text-shadow: 0 0 5px var(--title-color);
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

a:hover:not(.navbar a, #header a) {
    text-shadow: none;
}